*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-container{
    margin: auto;
}
.form-section{
    padding: 100px;
}
.form-section .form-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-section .form-content .left{
    flex: 1;
    felx-basis:300px;
    border: 1px solid #ddd;
}
.form-section .form-content .left .left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
    align-items: start;
}
.form-section .form-content .left .left-content .languase{
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}
.form-section .form-content .left .left-content .languase .img-wapper{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
}
.form-section .form-content .left .left-content .languase .img-wapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-section .form-content .left .left-content .languase span{}
.form-section .form-content .left .left-content .languase span .fa-chevron-down{}
.form-section .form-content .left .left-content .main-content{
    margin-top: 100px;
}
.form-section .form-content .left .left-content .main-content h1{
    font-size: 45px;
    font-weight: 700;
}
.form-section .form-content .left .left-content .main-content p{}
.form-section .form-content .left .left-content .main-content .form-section{
    background-color: blue;
}
.form-section .form-content .left .left-content .main-content .form-section .row{}
.form-section .form-content .left .left-content .main-content .form-section .row label{}
.form-section .form-content .left .left-content .main-content .form-section .row .input{}
.form-section .form-content .left .left-content .main-content .form-section .row .input .input-icon{}
.form-section .form-content .left .left-content .main-content .form-section .row .input input{}




.form-section .form-content .right{
    flex: 1;
    felx-basis:300px;
    border: 1px solid #ddd;
}